{% extends 'book/base.html'%} {%block body%}
<div>
    {% if books %}
    <ul>
        {% load staticfiles %} {% comment %}
        <link rel="stylesheet" type="text/css" href="{% static 'book/list-style.css' %}"
        /> {% endcomment %} {% comment %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> {% endcomment %}
        <!-- Custom styles for this template -->
       
       
        <br\>
        <br\>
         <main role="main">
            {% if error_message %}
            <div class="alert alert-warning" role="alert">
                <strong>{{error_message}</strong>
            </div>
            {% endif %}

            
            <div class="container">
                <div class="row">
                    {% for book in books %}
                    <div class="col-md-3">
                        <div class="card mb-4 box-shadow">
                            <div align='center'>
                                {% load staticfiles %}
                                <img class="card-img-top" src="{% static book.FrontPage %}" href="/book/{{book.id}}/detail" alt="Thumbnail [100%x100%]" style="height: 50%; width: 50%; display: block;"
                                    data-holder-rendered="true">
                            </div>
                            <div class="card-body">
                                <div href = "/book/{{book.id}}/detail" >
                                <h5 href = "/book/{{book.id}}/detail" class="card-title">{{book.BookName}}</h5></div>
                                <br\>
                                    <p class="card-text">
                                        <font size='2'>作者：{{book.Author}}</font>
                                    </p>
                                    <p class="card-text">
                                        <font size='2'>数量：{{book.Quantity}}</font>
                                    </p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="btn-group">
                                            <form action="{{book.id}}/borrow" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-sm btn-outline-secondary">借书</button>
                                            </form>
                                            <a href="https://book.douban.com/subject_search?search_text={{book.ISBN}}&cat=1001">
                                                <button type="button" class="btn btn-sm btn-outline-secondary">详细信息</button>
                                            </a>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    {%endfor%}
                </div>
            </div>

        </main>
    </ul>
    {% else %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-3">歇菜了！</h1>
            <p class="lead">书架上一本书都没有</p>
        </div>
    </div>
    {% endif %}
</div>


<div class="uk-margin-large" style="text-align: center">
    <a href="">
        <span class="uk-text-meta">关于书库</span>
    </a>
</div>
{%endblock%}