{% extends 'book/base.html'%} {%block body%}
    
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    {% block title %}{% endblock %}

    <!-- Bootstrap core CSS -->
    {% load staticfiles %}
    <!-- <link href="{% static 'book/item_files/bootstrap.min.css' %}" rel="stylesheet"> -->

    <!-- Custom styles for this template -->
    <link href="{% static 'book/item_files/album.css' %}" rel="stylesheet">
     <!-- Custom styles for this template -->
     <link href="/static/book/card.css" rel="stylesheet">

  <body data-gr-c-s-loaded="true">
    <main role="main">

      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-12">
              <div class="card mb-1 box-shadow">
                  {% load staticfiles %}
                <img class="card-img-top"  style="display:table-cell " src="{% static book.FrontPage %}" data-holder-rendered="true">
                <div class="card-body">
                    <h4 class="card-title">作者</h4>
                  <p class="card-text">{{book.Author}}</p>
                    <h4 class="card-title">出版社</h4>
                  <p class="card-text">{{book.Publisher}}</p>
                    <h4 class="card-title">内容简介</h4>
                  <p class="card-text">{{book.Introduction}}</p>
                   
                 
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- {% load staticfiles %}
    <script src="{% static 'book/item_files/jquery-3.2.1.slim.min.js.下载' %}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'book/item_files/popper.min.js.下载' %}"></script>
    <script src="{% static 'book/item_files/bootstrap.min.js.下载' %}"></script>
    <script src="{% static 'book/item_files/holder.min.js.下载' %}"></script> -->
  

<svg xmlns="http://www.w3.org/2000/svg" width="348" height="226" viewBox="0 0 348 226" preserveAspectRatio="none" style="display: none; visibility: hidden; position: absolute; top: -100%; left: -100%;"><defs><style type="text/css"></style></defs><text x="0" y="17" style="font-weight:bold;font-size:17pt;font-family:Arial, Helvetica, Open Sans, sans-serif">Thumbnail</text></svg></body></html>
{% endblock%}