{% extends 'book/base.html'%} {%block body%}
<div>
    {% if books %}
    <ul>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href="{% static 'book/list-style.css' %}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
         <!-- Custom styles for this template -->
    <link href="/static/book/card.css" rel="stylesheet">
        <main role="main">
            {% if message %}
                <p><strong>{{ message }}</strong></p>
            {% endif %}
            <div class="album py-5 bg-light">
                <div class="container"> 

                    <div class="row">
                            {% for book in books %}
                                <div class="col-md-3">
                                    <div class="card mb-4 box-shadow">
                                        <img class="card-img-top" data-src="text=Thumbnail" alt="Thumbnail [100%x225]" style="height: 225px; width: 200px; display: block;"
                                        {% load staticfiles %}    
                                        src="{% static book.FrontPage %}"data-holder-rendered="true">
                                        <div class="card-body">
                                            <!-- <p class="card-text">数量：{{book.Quantity}}</p> -->
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <form action = "/book/{{book.id}}/return" method="POST">
                                                            {% csrf_token %}
                                                        <button  type="submit" class="btn btn-sm btn-outline-secondary">还书</button>
                                                    </form>
                                                    <button href = "{% url 'book:detail' book.id %}" type="button" class="btn btn-sm btn-outline-secondary">详细信息</button>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>
                            {%endfor%}
                    </div>
                </div>
            </div>

        </main>
    </ul>
    {% else %}
        <div class="uk-margin-large" style="text-align: center">
            <span class="uk-text-meta">您还没有借书</span>
            <a href="/book">
                <span class="uk-text-meta">去借一本</span>
            </a>
        </div>
    {% endif %}
</div>


{%endblock%}